.header {
    background: #35352b;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: rgb(224, 215, 215);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 25%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__link {
    text-decoration: none;
}

.header-nav__button, .header-nav__link {
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    background-color: #d24444;
    border: dashed #bbb;
    box-shadow: 0 0 0 4px #d24444;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.footer {
    background: rgb(135, 144, 150);
    
}

.footer__inner{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 15px;

}

.footer-content {
    color: aliceblue;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
